<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <!-- Write your code here -->
  <% if(locals.first && locals.last) { %>
      <% var num = first.length + last.length %>
     <h3>Your name has: <%= num %> letters</h3> 
  <%  } else {%>
  <h2>Complete the form below: 👇</h2>
    <%}%>
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="lName" placeholder="Last name">
    <input type="submit" value="OK">
  </form>
  
</body>

</html>